In [1]:
import pandas as pd 
import numpy as np
import os

In [2]:
os.chdir(r'C:\Users\Nikhil Raj\Desktop\csv files')

In [3]:
df=pd.read_csv('User_Data.csv')

In [4]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
df['Gender']=pd.get_dummies(df['Gender'],drop_first=True)
df['Gender'].head()

0    1
1    1
2    0
3    0
4    1
Name: Gender, dtype: uint8

In [6]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [7]:
df.corr()

                  User ID    Gender       Age  EstimatedSalary  Purchased
User ID          1.000000 -0.025249 -0.000721         0.071097   0.007120
Gender          -0.025249  1.000000 -0.073741        -0.060435  -0.042469
Age             -0.000721 -0.073741  1.000000         0.155238   0.622454
EstimatedSalary  0.071097 -0.060435  0.155238         1.000000   0.362083
Purchased        0.007120 -0.042469  0.622454         0.362083   1.000000

In [8]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [9]:
x=df.drop('Purchased',axis=1).values
x=sc.fit_transform(x)
y=df['Purchased'].values

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=12)

In [11]:
from sklearn.svm import SVC
model=SVC(kernel='linear')
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8375

In [12]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
cm=confusion_matrix(y_test,y_pred)
print(cm,'\n')
cl=classification_report(y_test,y_pred)
print(cl)

[[42  6]
 [ 7 25]]

              precision    recall  f1-score   support

           0       0.86      0.88      0.87        48
           1       0.81      0.78      0.79        32

    accuracy                           0.84        80
   macro avg       0.83      0.83      0.83        80
weighted avg       0.84      0.84      0.84        80

In [13]:
x1=df.drop(['User ID','Purchased'],axis=1).values
x1=sc.fit_transform(x1)
y1=df['Purchased'].values

In [14]:
from sklearn.model_selection import train_test_split
x_train1,x_test1,y_train1,y_test1=train_test_split(x1,y1,test_size=0.2,random_state=12)

In [15]:
from sklearn.svm import SVC
model=SVC(kernel='linear')
model.fit(x_train1,y_train1)
y_pred1=model.predict(x_test1)

from sklearn.metrics import accuracy_score
accuracy_score(y_test1,y_pred1)

0.8375

In [16]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
cm=confusion_matrix(y_test1,y_pred1)
print(cm,'\n')
cl=classification_report(y_test1,y_pred1)
print(cl)

[[43  5]
 [ 8 24]]

              precision    recall  f1-score   support

           0       0.84      0.90      0.87        48
           1       0.83      0.75      0.79        32

    accuracy                           0.84        80
   macro avg       0.84      0.82      0.83        80
weighted avg       0.84      0.84      0.84        80