In [1]:
import pandas as pd

In [13]:
p=[5,4,3,9,4]
j=[4,8,7,5,1,5]
a=[9,9,8,10,4,10]

In [14]:
scores =p+j+a
players=(['p']*len(p))+ (['j'] * len(j))+(['a'] * len(a))

In [17]:
data=pd.DataFrame({'players': players, 'score': scores})

In [18]:
data

   players  score
0        p      5
1        p      4
2        p      3
3        p      9
4        p      4
5        j      4
6        j      8
7        j      7
8        j      5
9        j      1
10       j      5
11       a      9
12       a      9
13       a      8
14       a     10
15       a      4
16       a     10

In [20]:
data.groupby('players').mean()

            score
players
a        8.333333
j        5.000000
p        5.000000

Based on the mean,Alex got the best score and he is the Best Archer

In [21]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [23]:
lm = ols('score ~ players',data=data).fit()
table = sm.stats.anova_lm(lm)
print(table)

            df     sum_sq    mean_sq         F    PR(>F)
players    2.0  43.137255  21.568627  3.904665  0.044916
Residual  14.0  77.333333   5.523810       NaN       NaN

  since p value is less than 0.05 we reject the null hypothesis.