# Map

In [2]:
#adding without using map 
def sum(a,b):
    return a+b
x= sum(5,4)
print(x)

9

In [6]:
# adding using map
def sum(a,b):
    return a+b
x = map(sum,[1,2,3,4,5],[6,7,8,9,10])
print(list(x))

[7, 9, 11, 13, 15]

In [81]:

def sum(a,b):
    return a+b
print(list(map(sum, [ i for i in range(5)], (2,2,2,2,2) )))

[2, 3, 4, 5, 6]

# Lambda

In [9]:

# without using lambda
def sum(a):
    return a+b

sqr(3,5)

8

In [10]:

# with using lambda
x = lambda a,b: a+b
x(3,5)

8

In [19]:

def sum(x):
    print(x)
    return lambda y: x+y
a = sum(3)
print(a(5))

3
8

In [18]:
# using lambda with map
print(list(map(lambda x: x+4,[1,2,3,4])))

[5, 6, 7, 8]

# FILTERING

In [24]:

# using filter
def cmp(a):
    if a>=3:
        return a

print(list(filter( cmp, [1,2,3,4,5] )))

[3, 4, 5]

In [25]:
 
# using filter with lambda
x = filter( lambda x: x>=3 ,[1,2,3,4])
print(list(x))

[3, 4]

# reduce

In [28]:
from functools import reduce

In [33]:
def sum(a,b):
    return a+b

x = reduce(sum, [1,2,3,4,5])
print(x)

15

In [34]:
# using  reduce with lambda
reduce( lambda x,y: x+y , [1,2,3,4,5] )

15

# classes and objects

In [69]:
class a:  
    def __init__(self, name):  
        self.name = name    
    def abc(self):  
        print('Hello, my name is', self.name)  
    
p = a('Nikhil')  
p.abc()

Hello, my name is Nikhil

In [75]:
# using single obj
class a: 
    a1 = "student"
    a2 = "nikhil"
    def abc(self): 
        print("I'm a", self.a2) 
        print("I'm a", self.a1) 
nikhil = a() 
nikhil.abc()

I'm a nikhil
I'm a student

In [77]:
#using two objects
class office: 
    a = 'employee'
    def __init__(self, branch, id): 
        self.branch = branch 
        self.id = id 
Nikhil = office("cse", "0001") 
Raj = office("IT", "0002")

In [78]:
print('Nikhil details:') 
print('Rodger is a', Nikhil.a) 
print('branch: ', Nikhil.branch) 
print('Color: ', Nikhil.id)

Nikhil details:
Rodger is a employee
branch:  cse
Color:  0001

In [80]:
print('Raj details:') 
print('Raj is a', Raj.a) 
print('branch: ', Raj.branch) 
print('id: ', Raj.id)

Raj details:
Raj is a employee
branch:  IT
id:  0002