In [1]:
import os
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
os.chdir(r"C:\Users\Nikhil Raj\Desktop\csv files")
df=pd.read_csv("mtcars.csv")
df=df.drop('model',axis=1)
df.head()

    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
3  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
4  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2

In [3]:
df.shape

(32, 11)

In [4]:
df['z_score']=stats.zscore(df['hp'])

In [5]:
df=df[df['z_score']<2]

In [6]:
df.shape

(31, 12)

# Q2

In [64]:
sd=pd.read_csv('Boston.csv')
sd.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [65]:
sd.shape

(506, 15)

In [66]:
sd['z_score']=stats.zscore(sd)

ValueError: Wrong number of items passed 15, placement implies 1

In [56]:
sd=sd[sd['z_score']<3]

In [57]:
sd.shape

(501, 16)

In [59]:
Q1 = sd['dis'].quantile(0.25)
Q3 = sd['dis'].quantile(0.75)
IQR = Q3 - Q1
print(IQR)

3.0284999999999997

In [60]:
sd = sd[((sd < (Q1 - 1.5 * IQR)) |(sd > (Q3 + 1.5 * IQR))).any(axis=1)]
sd.shape

(501, 16)

In [61]:
l=(Q1 - 1.5 * IQR)
h=(Q3 + 1.5 * IQR)
print(l,h)

-2.45455 9.65945

In [62]:
sd=sd[sd['dis']<h]

In [63]:
sd.shape

(501, 16)