In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.DataFrame({'id': ['1', '2', '3', '4'],
                        'names': ['a', 'b', 'c', 'd'],
                        'scores': ['100', '200', '150', '50']})
df1

  id names scores
0  1     a    100
1  2     b    200
2  3     c    150
3  4     d     50

In [3]:
print(df1['names'])
print(df1['scores'])

0    a
1    b
2    c
3    d
Name: names, dtype: object
0    100
1    200
2    150
3     50
Name: scores, dtype: object

In [4]:
df2 = pd.DataFrame({'id': ['5', '6', '7', '8'],
                        'names': ['a1', 'b1', 'c1', 'd1'],
                        'scores': ['60', '20', '50', '70']})
df2

  id names scores
0  5    a1     60
1  6    b1     20
2  7    c1     50
3  8    d1     70

In [5]:
pd.concat([df1,df2],axis=1)

  id names scores id names scores
0  1     a    100  5    a1     60
1  2     b    200  6    b1     20
2  3     c    150  7    c1     50
3  4     d     50  8    d1     70

In [6]:
df3 = pd.DataFrame({'id': ['9', '10', '11', '12'],
                    'names': ['a2', 'b2',np.nan, 'd2'],
                    'scores': ['50', '70',np.nan,np.nan]})
df3

   id names scores
0   9    a2     50
1  10    b2     70
2  11   NaN    NaN
3  12    d2    NaN

In [7]:
df3.isnull()

      id  names  scores
0  False  False   False
1  False  False   False
2  False   True    True
3  False  False    True

In [8]:
data = [1, 2, 3, 4, 5] 
pd.Series(data)

0    1
1    2
2    3
3    4
4    5
dtype: int64